
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<asp:Login ID="Logins"  onauthenticate="Login1_Authenticate" 
           LoginButtonText="Ingresar" 
           PasswordLabelText="Contraseña:" 
           RememberMeText="Recordarme la proxima vez." TitleText=""
           UserNameLabelText="Usuario:"></asp:Login>

